{% extends '::base.html.twig' %}
{% form_theme form _self %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <div class="alert alert-danger" role="alert">
                <span class="sr-only">Error:</span>
                <ul class="error_list">
                    {% for error in errors %}
                        <li>{{ error.message|trans }}</li>
                    {% endfor %}
                </ul>
            </div>

        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}


{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6" >
                <h3>{% trans %}login{% endtrans %}</h3><br/>
                {{ form_start(form,{'attr': {'novalidate': 'novalidate','class':'form-horizontal'}}) }}

                <div class="form-group">
                    {{ form_label(form.email)|trans|raw }}
                    {{ form_widget(form.email) }}
                    {{ form_errors(form.email) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.password)|trans|raw }}
                    {{ form_widget(form.password) }}
                    {{ form_errors(form.password) }}
                </div>

                <div id="captcha" ></div>
                <input type="button" id="reset" class="btn btn-default" value="reset">

                <button type="submit" class="btn btn-default">{% trans %}registration{% endtrans %}</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}


{% block javascript %}
    <script src="{{ asset('bundles/formregistration/js/Captcha.js') }}"></script>
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
            async defer>
    </script>

    {{ parent() }}
{% endblock %}