{% extends 'base.html.twig' %}

{% block title %}Registration{% endblock%}


{% block body %}


    <p>Registration</p>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_errors(form) }}

    <div>
        {{ form_label(form.name) }}
        {{ form_errors(form.name) }}
        {{ form_widget(form.name) }}
    </div>

    <div>
        {{ form_label(form.password) }}
        {{ form_errors(form.password) }}
        {{ form_widget(form.password) }}
    </div>

    <input type="submit" value="submit" />

    {{ form_end(form) }}

{% endblock %}